:root {
  /* BASE */
  --font-family: "Mona Sans", system-ui, sans-serif;
  --font-base: 16px;
  --line-height: 1.5;
  
  /* COLOR THEME */
  --theme-background: var(--color-white);
  --theme-text: var(--color-patient-950);
  --theme-background-alt: var(--color-patient-950);
  --theme-text-alt: var(--color-white);
  --theme-link-hover: var(--opacity-black-50);
  --theme-border: var(--color-gray-400);
  --theme-accent: var(--color-patient-900);
  --theme-focus: var(--color-gray-800);

  /* PRIMITIVES */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-neutral-lightest: #eeeeee;
  --color-neutral-lighter: #cccccc;
  --color-neutral-light: #aaaaaa;
  --color-neutral: #666666;
  --color-neutral-dark: #444444;
  --color-neutral-darker: #222222;
  --color-neutral-darkest: #111111;
  --opacity-transparent: rgba(255 255 255 / 0);
  --opacity-white-5: rgba(255 255 255 / 0.05);
  --opacity-white-10: rgba(255 255 255 / 0.1);
  --opacity-white-15: rgba(255 255 255 / 0.15);
  --opacity-white-20: rgba(255 255 255 / 0.2);
  --opacity-white-30: rgba(255 255 255 / 0.3);
  --opacity-white-40: rgba(255 255 255 / 0.4);
  --opacity-white-50: rgba(255 255 255 / 0.5);
  --opacity-white-60: rgba(255 255 255 / 0.6);
  --opacity-white-70: rgba(255 255 255 / 0.7);
  --opacity-white-80: rgba(255 255 255 / 0.8);
  --opacity-white-90: rgba(255 255 255 / 0.9);
  --opacity-black-5: rgba(0 0 0 / 0.05);
  --opacity-black-10: rgba(0 0 0 / 0.1);
  --opacity-black-15: rgba(0 0 0 / 0.15);
  --opacity-black-20: rgba(0 0 0 / 0.2);
  --opacity-black-30: rgba(0 0 0 / 0.3);
  --opacity-black-40: rgba(0 0 0 / 0.4);
  --opacity-black-50: rgba(0 0 0 / 0.5);
  --opacity-black-60: rgba(0 0 0 / 0.6);
  --opacity-black-70: rgba(0 0 0 / 0.7);
  --opacity-black-80: rgba(0 0 0 / 0.8);
  --opacity-black-90: rgba(0 0 0 / 0.9);

  /* SIGMA COLORS */
  --color-doctor-50: #f5fafe;
  --color-doctor-75: #edf6fd;
  --color-doctor-100: #e6f2fc;
  --color-doctor-200: #c8e4f9;
  --color-doctor-300: #87ccf4;
  --color-doctor-400: #52b0db;
  --color-doctor-500: #4494b8;
  --color-doctor-600: #357793;
  --color-doctor-700: #285d73;
  --color-doctor-800: #1a4252;
  --color-doctor-900: #0f2229;
  --color-doctor-950: #041115;
  --color-patient-50: #fef8f8;
  --color-patient-75: #fdefef;
  --color-patient-100: #fde9ea;
  --color-patient-200: #ffc3c3;
  --color-patient-300: #f79e9f;
  --color-patient-400: #ef7b80;
  --color-patient-500: #e4505c;
  --color-patient-600: #b54450;
  --color-patient-700: #843c43;
  --color-patient-800: #5b3136;
  --color-patient-900: #282525;
  --color-patient-950: #151414;
  --color-gray-50: #f4f5f7;
  --color-gray-75: #eeeff2;
  --color-gray-100: #e3e5ea;
  --color-gray-200: #c5c9d2;
  --color-gray-300: #a8aebb;
  --color-gray-400: #8a91a0;
  --color-gray-500: #727783;
  --color-gray-600: #565961;
  --color-gray-700: #434449;
  --color-gray-800: #2d2e31;
  --color-gray-900: #171818;
  --color-gray-950: #0b0b0b;

  /* UI STYLES */
  // --border-width: 1px;
  // --divider-width: 1px;
  // --radius-small: 4px;
  // --radius-medium: 8px;
  // --radius-large: 16px;
  // --radius-full: 999em;

  --border-width: 0.0625rem;
  --divider-width: 0.0625rem;
  --radius-small: 0.25rem;
  --radius-medium: 0.5rem;
  --radius-large: 1rem;
  --radius-full: 99em;

  /* TYPOGRAPHY */
  // --font-size-heading-0: 64px;
  // --font-size-heading-1: 40px;
  // --font-size-heading-2: 36px;
  // --font-size-heading-3: 32px;
  // --font-size-heading-4: 24px;
  // --font-size-heading-5: 20px;
  // --font-size-heading-6: 18px;
  // --font-size-text-large: 18px;
  // --font-size-text-medium: 16px;
  // --font-size-text-base: 16px;
  // --font-size-text-small: 14px;
  // --font-size-text-tiny: 12px;
  --font-size-heading-0: 2.75rem;
  --font-size-heading-1: 2.5rem;
  --font-size-heading-2: 2.25rem;
  --font-size-heading-3: 2rem;
  --font-size-heading-4: 1.5rem;
  --font-size-heading-5: 1.25rem;
  --font-size-heading-6: 1.125rem;
  --font-size-text-large: 1.125rem;
  --font-size-text-medium: 1rem;
  --font-size-text-base: 1rem;
  --font-size-text-small: 0.875rem;
  --font-size-text-tiny: 0.75rem;


  /* SPACING & SIZING */
  // --container-large: 1280px;
  // --container-medium: 1024px;
  // --container-small: 768px;
  --container-large: 80rem;
  --container-medium: 64rem;
  --container-small: 48rem;


  // --max-width-xxlarge: 1280px;
  // --max-width-xlarge: 1024px;
  // --max-width-large: 768px;
  // --max-width-medium: 560px;
  // --max-width-small: 480px;
  // --max-width-xsmall: 400px;
  // --max-width-xxsmall: 320px;
  --max-width-xxlarge: 80rem;
  --max-width-xlarge: 64rem;
  --max-width-large: 48rem;
  --max-width-medium: 35rem;
  --max-width-small: 30rem;
  --max-width-xsmall: 25rem;
  --max-width-xxsmall: 20rem;


  // --padding-global: 20px;
  --padding-global: 1.25rem;


  // --space-xlarge: 112px;
  // --space-large: 64px;
  // --space-medium: 48px;
  // --space-small: 32px;
  // --space-xsmall: 24px;
  // --space-xxsmall: 16px;
  // --space-xxxsmall: 12px;
  --space-xlarge: 7rem;
  --space-large: 4rem;
  --space-medium: 3rem;
  --space-small: 2rem;
  --space-xsmall: 1.5rem;
  --space-xxsmall: 1rem;
  --space-xxxsmall: 0.75rem;


  /* GRADIENTS */
  --gradients-patient-gradient-direction: 135deg;
  --gradients-patient-gradient-stop-1-color: var(--color-patient-200);
  --gradients-patient-gradient-stop-1-position: 0%;
  --gradients-patient-gradient-stop-2-color: var(--color-doctor-200);
  --gradients-patient-gradient-stop-2-position: 100%;
  
  --gradients-doctor-gradient-direction: 135deg;
  --gradients-doctor-gradient-stop-1-color: var(--color-doctor-200);
  --gradients-doctor-gradient-stop-1-position: 0%;
  --gradients-doctor-gradient-stop-2-color: var(--color-patient-200);
  --gradients-doctor-gradient-stop-2-position: 100%;
  
  --gradients-bg-gradient-1-direction: 135deg;
  --gradients-bg-gradient-1-stop-1-color: var(--color-doctor-100);
  --gradients-bg-gradient-1-stop-1-position: 0%;
  --gradients-bg-gradient-1-stop-2-color: var(--color-white);
  --gradients-bg-gradient-1-stop-2-position: 100%;
  
  --gradients-bg-gradient-2-direction: 135deg;
  --gradients-bg-gradient-2-stop-1-color: var(--color-patient-75);
  --gradients-bg-gradient-2-stop-1-position: 0%;
  --gradients-bg-gradient-2-stop-2-color: var(--color-white);
  --gradients-bg-gradient-2-stop-2-position: 100%;
  
  --gradients-bg-gradient-3-direction: 135deg;
  --gradients-bg-gradient-3-stop-1-color: var(--color-gray-75);
  --gradients-bg-gradient-3-stop-1-position: 0%;
  --gradients-bg-gradient-3-stop-2-color: var(--color-white);
  --gradients-bg-gradient-3-stop-2-position: 100%;

  --gradients-border-gradient-direction: 135deg;

  /* TRANSITIONS */
  --transition-duration: 200ms;
  --transition-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --transition-ease-in-out-quad: cubic-bezier(0.46, 0.03, 0.52, 0.96);
}


/* Min. TABLET */
@media (min-width: 768px) {
  :root {
  // --font-size-heading-0: 80px;
  // --font-size-heading-1: 56px;
  // --font-size-heading-2: 48px;
  // --font-size-heading-3: 40px;
  // --font-size-heading-4: 32px;
  // --font-size-heading-5: 24px;
  // --font-size-heading-6: 20px;
  // --font-size-text-large: 20px;
  // --font-size-text-medium: 18px;
  // --font-size-text-base: 16px;
  // --font-size-text-small: 14px;
  // --font-size-text-tiny: 12px;
  --font-size-heading-0: 4rem;
  --font-size-heading-1: 3.5rem;
  --font-size-heading-2: 3rem;
  --font-size-heading-3: 2.5rem;
  --font-size-heading-4: 2rem;
  --font-size-heading-5: 1.5rem;
  --font-size-heading-6: 1.25rem;
  --font-size-text-large: 1.25rem;
  --font-size-text-medium: 1.125rem;
  --font-size-text-base: 1rem;
  --font-size-text-small: 0.875rem;
  --font-size-text-tiny: 0.75rem;


  // --max-width-xxlarge: 1280px;
  // --max-width-xlarge: 1024px;
  // --max-width-large: 768px;
  // --max-width-medium: 560px;
  // --max-width-small: 480px;
  // --max-width-xsmall: 400px;
  // --max-width-xxsmall: 320px;
  --max-width-xxlarge: 80rem;
  --max-width-xlarge: 64rem;
  --max-width-large: 48rem;
  --max-width-medium: 35rem;
  --max-width-small: 30rem;
  --max-width-xsmall: 400px;
  --max-width-xxsmall: 20rem;


  // --padding-global: 64px;
  --padding-global: 4rem;


  // --space-xlarge: 180px;
  // --space-large: 112px;
  // --space-medium: 80px;
  // --space-small: 48px;
  // --space-xsmall: 32px;
  // --space-xxsmall: 24px;
  // --space-xxxsmall: 16px;
  --space-xlarge: 11.25rem;
  --space-large: 7rem;
  --space-medium: 5rem;
  --space-small: 3rem;
  --space-xsmall: 2rem;
  --space-xxsmall: 1.5rem;
  --space-xxxsmall: 1rem;

  }
}


/* DESKTOP */
@media (min-width: 1024px) {
  :root {
    --font-size-heading-0: 3.5rem;
  }
}


/* DESKTOP XL */
@media (min-width: 1280px) {
  :root {
    --font-size-heading-0: 5rem;
  }
}



