@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased font-normal text-patient-950 bg-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
