.h0 {
    font-size: var(--font-size-heading-0);
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.04em;
}

h1,
.h1 {
    font-size: var(--font-size-heading-1);
    font-weight: 600;
    line-height: 115%;
    letter-spacing: -0.03em;
}

h2,
.h2 {
    font-size: var(--font-size-heading-2);
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.02em;
}

h3,
.h3 {
    font-size: var(--font-size-heading-3);
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.01em;
}

h4,
.h4 {
    font-size: var(--font-size-heading-4);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.02em;
}

h5,
.h5 {
    font-size: var(--font-size-heading-5);
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.01em;
}

h6,
.h6 {
    font-size: var(--font-size-heading-6);
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.01em;
}

.tagline {
    font-size: var(--font-size-text-base);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.01em;
}

.text-large {
    font-size: var(--font-size-text-large);
}

.text-medium {
    font-size: var(--font-size-text-medium);
}

.text-base {
    font-size: var(--font-size-text-base);
}

.text-small {
    font-size: var(--font-size-text-small);
}

.text-tiny {
    font-size: var(--font-size-text-tiny);
}

b, strong, .bold {
    font-weight: 600;
}
i, em, .italic {
    font-style: italic;
}
blockquote {
    font-style: italic;
    padding-left: 1.5em;
    margin-left: 0em;
    --color-divider-gradient: linear-gradient(
        180deg,
        var(--gradients-patient-gradient-stop-1-color) 0%,
        var(--gradients-patient-gradient-stop-2-color) 100%
        ) 1 100%;
    border-image: var(--color-divider-gradient);
    border-left: var(--border-width) solid transparent;
}

.flow {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1.5em 0 1.5rem 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    p,
    ul,
    ol,
    pre,
    blockquote,
    table {
        margin: 1em 0 1em 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    ul ul, ol ol {
        margin-top: 0;
    }
    a {
        text-decoration: underline;
        text-underline-offset: .125em;
    }
    hr {
        margin: 2em 0;
        &:first-of-type {
            margin: var(--space-medium) auto;
        }
    }
}